#Comment_form {
  width: 90%;
}

#Comment_form input, textarea {
  width: 90%;
  resize: none;
}

#form_Name {
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  padding-bottom: 5px; /* 下線が表示される位置を少し下に */
}

#form_Name:focus {
  box-shadow: 0 2px 0 0 black; /* フォーカス時に下線が出現する効果 */
  transition: box-shadow 0.5s ease; /* box-shadowのアニメーション */
}

#Comment_form textarea {
  border: none;
  height: auto;
  max-height: 200px;
  outline: none;
  background-color: transparent;
  padding-bottom: 5px;
}

#Comment_form textarea:focus {
  box-shadow: 0 2px 0 0 black;
  transition: box-shadow 0.5s ease;
}

#comments {
  margin: 0;
  padding: 0;
}

#commentsArea div a {
  display: none;
}
