#footer {
  padding: 100px;
  background-color: #bababa;
  position: fixed;
  z-index: 1000;
  top: 97%;
  left: 0;
  height: 250px;
  width: 100%;
  transition: transform 0.5s ease;
}

#footer:hover {
  transform: translateY(-250px);
}
