#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;  /* 垂直方向の中央揃え */
  justify-content: flex-start;  /* ヘッダー内の要素を左寄せ */
  background-color: #855CD6;
  padding: 10px 20px;
  z-index: 1000;
}

#header_logo {
  width: 100px;
  transition: transform 0.25s ease;
}

#header_logo:hover {
  transform: scale(1.05);
}

#header_Search {
  width: 250px;  /* 横幅を250pxに設定 */
  margin-left: 20px;  /* ロゴと検索ボックスの間に余白 */
  border: none;
  height: 30px;
}

#header_buttonlist {
  display: flex;  /* 横並びにする */
  padding: 0;
  margin: 0;
  list-style: none;  /* デフォルトのリストスタイルを削除 */
  color: white;
}

#header_buttonlist li {
  margin-left: 20px;  /* ボタン間のスペース */
  cursor: pointer;  /* クリック可能にする */
  padding: 10px;  /* パディングを追加 */
}

#header_buttonlist li:hover {
  background-color: hsl(260,46%,54%);
}
