#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;  /* 垂直方向の中央揃え */
  justify-content: center;  /* ヘッダー内の要素を中央寄せ */
  background-color: #855CD6;
  padding: 10px 20px;
  z-index: 1000;
}

#header_logo {
  width: 80px;
  transition: transform 0.25s ease;
  cursor: pointer;
}

#header_logo:hover {
  transform: scale(1.05);
}

#header_Search {
  width: 250px;
  margin: 0 20px;  /* ロゴとボタンリストの間に余白 */
  border: none;
  height: 30px;
  background-color: #00000000;
  color: white;
}

#header_buttonlist {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
}

#header_buttonlist li {
  margin: 0 10px;  /* ボタン間のスペースを調整 */
  cursor: pointer;
  padding: 10px;
}

#header_buttonlist li:hover {
  background-color: hsl(260,46%,54%);
}

#header_margin {
  height: 40px;
}

#SearchBOX {
  background-color: #6c4bad;
  border-radius: 5px;
  padding: 5px;
}

#header_Search::placeholder {
  color: #e6e6e6;
}

#header_SearchBtn {
  padding: 10px;
  cursor: pointer;
}
