#title {
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.title_claim {
  color: #f5bc42;
}

#title {
  transform: scale(0.5);
  transition: transform 0.5s ease;
}

#title.active {
  transform: scale(1);
}
