#title {
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  transform: scale(0.5);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.title_claim {
  color: #f5bc42;
}

#title.active {
  opacity: 1;
  animation: scaleBounce 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes scaleBounce {
  0% {
    transform: scale(0.5);
  }
  30% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(0.97);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1); /* 残り 1.4s はこの状態を維持 */
  }
}
