#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#title:not(.active) {
  transform: scale(0.5);
}

.title_claim {
  display: inline-block;
  margin-right: -0.3em; /* 調整：文字間を詰める */
  color: #f5bc42; /* 黄色 */
  transition: margin-right 1.5s ease-out;
}

#title.active {
  opacity: 1;
  animation: scaleBounce 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

#title span:not(.title_claim) {
  opacity: 0;  /* 最初は透明 */
  display: inline; /* レイアウトを確保 */
  transform: translateY(10px); /* 下から登場 */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* フェードイン後に `.title_claim` を滑らかに戻す */
.title_claim.space {
  margin-right: 0; /* 元の位置に戻す */
}

@keyframes scaleBounce {
  0% {
    transform: scale(0.5);
  }
  15% {
    transform: scale(1.15);
  }
  25% {
    transform: scale(0.97);
  }
  35% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}
